.create-post {
	display: flex;
	gap: 1rem;
	background-color: var(--card-color);
	padding: 1rem;
	border-radius: 2rem;
}

.create-post > div {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
  overflow: auto;
}

.text-textarea {
}

.text-textarea > textarea {
	background-color: var(--input-color);
	border-radius: 2rem;
	padding: 1rem 1.5rem;
  width: 100%;
	font-size: 14px;
	border: none;
	outline: none;
	resize: none;
}

.post-options {
	display: flex;
	justify-content: flex-start;
}

.option {
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}

.post-options > div:nth-of-type(1) {
  color: var(--photo);
}

.post-options > div:nth-of-type(2) {
  color: var(--video);
}

.post-options > div:nth-of-type(3) {
  color: var(--location);
}

.post-options > div:nth-of-type(4) {
  color: var(--schedule);
}

.option:hover {
	cursor: pointer;
}

.ps-button {
	padding: 5px 20px;
	font-size: 12px;
  margin-left: auto;
}

.preview-image {
	position: relative;
}

.preview-image > svg {
	position: absolute;
	right: 1rem;
	top: 0.5rem;
	cursor: pointer;
}

.preview-image > img {
	width: 100%;
	max-height: 20rem;
	object-fit: cover;
	border-radius: 0.5rem;
}
