.auth {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 4rem;
	position: relative;
}

.auth > div {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* left side */
.auth-left {
	gap: 2rem;
}

.auth-left > img {
	width: 4rem;
	height: 4rem;
}

.web-name > h1 {
	font-size: 3rem;
	background-color: red;

	/* Create the gradient. */
	background-image: var(--button-bg);

	/* Set the background size and repeat properties. */
	background-size: 100%;
	background-repeat: repeat;
	background-clip: text;

	/* Use the text as a mask for the background. */
	/* This will show the gradient as a text color rather than element bg. */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

.web-name > p {
	font-size: 0.9rem;
}

.auth-form {
	background-color: var(--card-color);
	border-radius: 1rem;
	padding: 2rem;
}

.auth-form > div {
	width: 100%;
	align-items: center;
	justify-content: center;
}
