.right-sidebar {
	display: flex;
	flex-direction: column;
	gap: 2rem;
  height: 100vh;
  overflow: auto;
  padding-bottom: 2rem;
}

.nav-icons {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.nav-icons > a > img {
	width: 1.5rem;
	height: 1.5rem;
}

.nav-icons > img {
	width: 1.5rem;
	height: 1.5rem;
}

.nav-icons > img:hover {
	cursor: pointer;
}

.right-button {
	width: 100%;
  padding: 16px;
	align-self: center;
}
