.search-bar {
	display: flex;
	gap: 0.75rem;
}

.search {
	display: flex;
	background-color: var(--input-color);
	border-radius: 10px;
	padding: 8px;
}

.search-input {
	background-color: transparent;
	font-size: 14px;
	padding: 8px;
	border: none;
	outline: none;
}

.search-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(106.23deg, #f99827 0%, #f95f35 100%);
	border-radius: 8px;
	padding: 4px;
	color: white;
}
