.post {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	background-color: var(--card-color);
	border-radius: 2rem;
	gap: 1rem;
}

.post > img {
	width: 100%;
	max-height: 20rem;
	object-fit: cover;
	border-radius: 0.5rem;
}

.post-reactions {
	display: flex;
	align-items: flex-start;
	gap: 1.5rem;
}

.post-reactions img {
	cursor: pointer;
}

.likes {
	color: var(--gray);
	font-size: 16px;
}

.detail {
	display: flex;
	flex-direction: column;
}

.detail > div {
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 1rem;
}

.detail > div > span {
	font-size: 14px;
	margin-left: auto;
	color: var(--gray);
}

.profile-user {
	display: flex;
	flex-direction: column;
}

.profile-user > p {
	color: var(--gray);
}

.post-desc {
	margin-top: 1rem;
}
