:root {
	--yellow: #f5c32c;
	--orange: #fca61f;
	--black: #242d49;
	--gray: rgba(36, 45, 73, 0.65);
	--profile-shadow: 0px 4px 17px 2px rgba(0, 0, 0, 0.15);
	--hr-color: #cfcdcd;
	--card-color: rgba(255, 255, 255, 0.64);
	--button-bg: linear-gradient(98.63deg, #f9a225 0%, #f95f35 100%);
	--input-color: rgba(40, 52, 62, 0.07);
	--photo: #4cb256;
	--video: #4a4eb7;
	--location: #ef5757;
	--schedule: #e1ae4a;
	--bg: #f3f3f3;
	--blur: #a6ddf0;
}

.container {
	overflow: hidden;
	color: var(--black);
	background: var(--bg);
	padding: 1rem;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-home {
	height: calc(100vh - 2rem);
}

.main-home {
	height: auto;
}

.blur {
	position: absolute;
	width: 22rem;
	height: 14rem;
	border-radius: 50%;
	background: var(--blur);
	filter: blur(72px);
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	border: none;
	border-radius: 0.5rem;
	background: var(--button-bg);
	transition: all 100ms ease-out;
}

.button:hover {
	color: var(--orange);
	border: 2px solid var(--orange);
	cursor: pointer;
	background: transparent;
}

.button:disabled {
	background: silver;
	pointer-events: none;
}

.profile-image {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;
	box-shadow: var(--profile-shadow);
}

::-webkit-scrollbar {
	display: none;
}

.profile-link {
	text-decoration: none;
	color: var(--orange);
}

/* Pages */
.home-container {
	position: relative;
	display: grid;
	grid-template-columns: 20rem auto 20rem;
	gap: 1rem;
}
.notfound-container {
	display: flex;
	height: 100vh;
}

.container h2 {
	margin: auto;
	font-size: 3rem;
}

/* Components */
.left-side-bar {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	overflow: auto;
	padding-right: 10px;
}

.main-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	overflow: auto;
	padding-right: 10px;
	height: 100vh;
}

.posts {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.profile {
	position: relative;
	display: grid;
	grid-template-columns: 20rem auto 20rem;
	gap: 1rem;
}

.profile-center {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

/* Form */
.info-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 2rem;
}

.info-auth {
	width: 500px;
}

.info-input {
	border: none;
	outline: none;
	background-color: var(--input-color);
	border-radius: 8px;
	padding: 0.8rem 1rem;
	font-size: 12px;
	flex: 1;
}

.info-button {
	padding: 0.8rem 1rem;
	margin-top: 1rem;
	width: 100%;
}

.form-item {
	display: flex;
	gap: 1rem;
	width: 100%;
}

.form-input {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.error {
	color: red;
	font-size: 13px;
	padding-top: 0.6rem;
}

.check-auth > a {
	display: flex;
	justify-content: flex-end;
	font-size: 14px;
	cursor: pointer;
	color: #6f6f6f;
	text-decoration: none;
}

.check-auth > a:hover {
	color: var(--orange);
}
